/* GENERAL PAGE */
/*permettono di utilizzare la body-page a larghezza massima */
html,body, div[data-role ="page"] 
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
 
.ui-content
{
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
   border-style: solid;
   border-color: chartreuse;
   border-width: 5px;
}
 
#page
{   /*il padding-top serve per tenere il bodyPage sotto la navbar */
    padding-top: 76.875px !important;
    padding-left: 3%;
    padding-right: 3%;
    background-color: white;
}


/*HEADER*/
.headerPage
{
    height:50px;  
    /*background-color: #42a5f5 !important; */
    background-color: #00ABC7 !important;
    font-size: 20px;
    border-bottom: 1px solid #00ABC7  !important;
    border-width: 15px;
    box-shadow: 0 0px 10px  #333333;
}

#bl-header-h1
{
    line-height: 20px !important;
    font-weight: bold;
    margin: 0;
    width: 100%;
    color: white;
    text-shadow:-1px -1px  #BBBFBD;
}

#header-user
{
    float:left;
    margin-left:10px;
}

#menu
{
    top: 50px; 
    width:100% !important;
}
#select-choice-custom-listbox
{
    border-top: 0 !important;
}
#bl-icon-menu
{
    float:right;
    margin-top:6px;
}

#body-page
{
    height: 100% !important;
}

.btn, .btn-default
{
    border-color: #00ABC7;
    color: #00ABC7 !important;
}
/*end GENERAL PAGE*/


/*  MAIN PAGE  */
#logo
{
    margin-top: 18%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color:white;
    text-shadow:-2px -2px 8px  #00ABC7, 
                2px -2px 0px  #00ABC7, 
                -2px 2px 0px  #00ABC7,
                2px -2px 0px  #00ABC7;
    
    /*
    font-family: "new century schoolbook";
    font-style: italic;
    color: #00ABC7;
    */
}

#sub-title
{
    text-align: center;
    color: #00ABC7;
}

#btn-main-content
{
   margin-top: 20%;
   padding: 20px;
}

#btn-cerca
{
    padding: 20px;
    width: 100%;
}

#btn-vendi
{
    margin-top: 50px;
    padding: 20px;
    width: 100%;
}
/*  END MAIN PAGE  */

/*  LOGIN PAGE  */

.info-txt-user
{
    margin-top:20px;
}

/*casella username */
.input-user
{
    margin-top: 10px;
}

.info-txt-psw
{
    margin-top:10px;
}
/*casella password */
.input-psw
{
    margin-top: 10px;
}

/*pulsante di login*/
#input-username, #input-password
{
    color: #00ABC7;
}

#btn-access
{
    margin-top: 30px;
    width:100%;
    color: #00ABC7;
}

#signin
{
    float:right;
    margin-top: 45px;
}

#btn-back
{
    margin-top: 40px;
}


/*  SIGNIN PAGE  */
#title-page-signin
{
    text-align: center;
    margin-top:0px;
    margin-bottom:30px;
}
#text-email
{
    margin-top:10px;
}
#text-psw
{
    margin-top:10px;
}
#text-psw-conf
{
    margin-top:10px;
}
#signin-btn
{
    margin-top: 20px;
    float:right;
}
#signin-back
{
    float: left;
    margin-top: 20px;
}
/*  FINE SIGNIN */


/*  CERCA   */
#subTitle-page-search
{
    margin-top: 20px;
}

#text-search-title
{
    margin-top: 40px;
}

#btn-back-cerca
{
    position: fixed;
    bottom: 20px;
    float:right;
    left:30px;
}

#btn-search-cerca
{
    position: fixed;
    bottom: 20px;
    float:right;
    right:30px;
}

/*  FINE CERCA   */


/*  VENDITA   */

.sale-form, #text-faculty
{
    margin-top:20px;
}

#text-price
{
    color:green;
}

#sale-form-price
{
    border:0;
    border-radius: 4px;
    width: 40%;
    color:red;
    
}

#btn-sale-back
{
    margin-top: 40px; 
}

#btn-sale-next
{
    margin-top: 40px;
    float: right;
}
/* fine VENDITA */

/*  LISTA   */

/*se ci sono meno di n elementi in lista,
il pulsante annulla rimane fisso*/
#btn-back-lista-fix
{
    position: fixed;
    bottom: 20px;
    float:right;
    left:30px;
}
/*se ci sono piu di n elementi in lista,
il pulsante annulla non rimane fisso*/
#btn-back-lista
{
    margin-top: 40px; 
    float: left;
}

#result-page-lista
{
    color: #BBBFBD;
}

/*  ACCOUNT */
.acn-bold-text
{
    font-weight: bold;
}

#acn-btn-back
{
    position: fixed;
    bottom: 20px;
    float:right;
    left:30px;
}
    
#acnExt-btn-back
{
    position: fixed;
    bottom: 20px;
    float:right;
    left:30px;
}
/* fine ACCOUNT */

/* ELEMENT LIST */
#bl-content-list
{
    background-color: rgba(221,221,221, 0.3);
    border: 0.5px solid rgb(221,221,221);
    padding:15px 10px 15px 10px;
}

.el-content
{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 0.5px solid rgb(221,221,221);
    box-shadow: 2px 2px 7px 0px #333333;
    background-color:white;
    
}

.el-table
{   
   width: 100%; 
}

.faculty
{
    padding-right: 5px;
    text-align: right;
    /*background-color: rgba(0, 172, 199, 0.02);*/
    background-image:linear-gradient(to right, rgba(0, 172, 199, 0.08) 0%, rgba(0, 172, 199, 0.05) 100%);
}

.username
{
    padding: 2px;
    text-align: left;
   /* background-color: rgba(0, 172, 199, 0.1);*/
   
    background-image:linear-gradient(to right, rgba(0, 172, 199, 0.1) 0%, rgba(0, 172, 199, 0.08) 100%);
}

.el-title
{
    padding-top: 10px;
    text-align: center; 
    font-size: large;
    font-weight: bolder;
}

.el-description
{    
    padding-top: 10px;
    text-align: left;
    color: #bdbdbd; 
}

.el-date
{
    padding-top: 13px;
    text-align: left;
}

.el-price
{
    padding-top: 13px;
    text-align: right; 
    color: green;
}

/* fine ELEMENT LIST */



/* POPUP*/
#btn-confirm-popup
{
    margin-left: 40px;
    float:right;
}

/* HOME */
#logout
{
    position: absolute;
    bottom:0;
    width: 100%;
    left:0;

}


/* ATTIVITA */
#title-attivita
{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.btn-obj
{
    background-color: #337ab7 !important;
    border-radius: 0px !important;
    color:white !important;
    font-weight: bold !important;
    text-shadow:-1px -1px  #BBBFBD !important;

}

.nothing
{
    color:#708090;
    text-align: center;
}
.btn-round
{
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    left:0px !important;
}

.ui-popup 
{
    background-color: #f5f5f5 !important;
}